<h1>Welcome to Search App</h1>
<div class="card-container">
	<label>Category Name : </label> 
	<input auto-complete class="search-bar" 
		[(ngModel)]="selectedCategory" placeholder="enter search category"
		[source]="categories" (ngModelChange)="filterCategories()" />

	<div>
		<br />
	</div>
	<div *ngIf="showGroups" class="search-results">
		<label>Search results for {{selectedCategory}}: </label>
		<ol class="result">
		<div *ngFor="let searchResult of searchResults">
		<li type="Disc"> {{searchResult | capitalizeFirst}}</li>
			</div>
			</ol>
	</div>
	
	<div *ngIf="showNoData" class="error">Unfortunately, no results were found</div>
</div>