
.card-container {
    justify-content: start;
     height: 162px;
    width: 50%;
}

.search-bar {
    min-width: 258px;
    text-indent: 30px !important;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 10;
    background-color: #F6F6F6;
    font-family: sans-serif;
    opacity: 0.98;
}

.result{
	color : #0645ad;
}

.search-results {
    padding: 10px;
    
}

.error{
	color : red
}
